body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #f6f7f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: sticky;
    /*top: 0;*/
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.navbar-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    height: 30px;
    /* Adjust size as needed */
}

.search-container input[type="text"] {
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    border: none;
    width: 300px;
    /* Adjust width as needed */
}

.button-container button {
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    background-color: #ff4500;
    /* Reddit Orange */
    color: white;
    cursor: pointer;
}

/* Optionally add hover effects */
.button-container button:hover {
    background-color: #cc3700;
}


.search-container {
    position: relative;
}

.search-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    pointer-events: none;
}

/* post and create */

.single-post>.post-user-info img {
    width: 50px;
    border-radius: 50%;
}

.post-single-reply>.post-user-info img {
    width: 30px;
    border-radius: 50%;

}

.post {
    max-width: 850px;
}

.single-post {
    border-radius: 15px;
    padding: 1rem;
}

.single-post:hover {
    background-color: rgba(211, 211, 211, 0.529);
}


.post-replies {
    transition: opacity 0.5s ease, height 0.5s ease;
    /* Adjust based on your content */
    opacity: 1;
    padding-top: 0.5rem;
}

.post-toggle-reply {
    cursor: pointer;
    width: 100%;
}

.post-single-reply {
    border-bottom: 1px solid black;
}


.post-replies .post-single-reply:not(:first-child) {
    /* CSS styles here will apply to all .post-single-reply within .post-replies except the first .post-single-reply */
    margin-top: 0.5rem;
}

.post-replies .post-single-reply:last-child {
    /* CSS styles here will apply to all .post-single-reply within .post-replies except the first .post-single-reply */
    border-bottom: none;
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    /* Optional: remove padding when hidden */
}

.custom-textarea {
    position: relative;
    width: 100%;
    /* Adjust width as needed */
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 15px;
}

.auto-expand {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    /* Prevents scrollbar from affecting the layout */
    min-height: 10px;
    /* Minimum height */
    /* resize: none; */
    /* Disables manual resizing */
}

textarea.auto-expand:focus {
    outline: none;
}

.buttons {
    position: absolute;
    bottom: 4px;
    /* Position buttons at the bottom of the container */
    right: 13px;
    /* Align buttons to the right */
}

.btns {
    padding: 5px 10px;
    /* Padding inside the buttons */
    margin-left: 5px;
    /* Space between buttons */
}

.charCount {
    position: absolute;
    bottom: 4px;
    left: 13px;
    color: #ccc;
    font-size: 12px;
}

.custom-create-post {
    max-width: 700px;
    min-width: 250px;
    background-color: #576f7634;
    border-radius: 15px;
    padding: 1rem;
    padding-bottom: 4rem;
    margin-top: 1.5rem;
    position: relative;
}

.create-submit {
    margin-top: 1rem;
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
}

.create-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.create-text:focus {
    outline: none;
}

#topic-count {
    margin-top: 0.2rem;
    position: absolute;
    right: 1rem;
}

.create-text:not(:first-of-type) {
    margin-top: 1rem;
}

#communities {
    padding: 1rem 0.3rem 1rem 1rem;
    border-radius: 15px;
}

#create-h1 {
    color: #2A3C42;
    margin-left: 1.1rem;
}

/* Community CSS - Chuan */
.inner-wrapper {
    position: relative;
    height: calc(100vh - 3.5rem);
    transition: transform 0.3s;
}

@media (min-width: 992px) {
    .sticky-navbar .inner-wrapper {
        height: calc(100vh - 3.5rem - 48px);
    }
}

.inner-main,
.inner-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.inner-sidebar {
    left: 0;
    width: 235px;
    border-right: 1px solid #cbd5e0;
    background-color: #fff;
    z-index: 1;
}

.inner-main {
    right: 0;
    left: 235px;
}

.inner-main-footer,
.inner-main-header,
.inner-sidebar-footer,
.inner-sidebar-header {
    height: 3.5rem;
    border-bottom: 1px solid #cbd5e0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-shrink: 0;
}

.inner-main-body,
.inner-sidebar-body {
    padding: 1rem;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
}

.inner-main-body .sticky-top,
.inner-sidebar-body .sticky-top {
    z-index: 999;
}

.inner-main-footer,
.inner-main-header {
    background-color: #fff;
}

.inner-main-footer,
.inner-sidebar-footer {
    border-top: 1px solid #cbd5e0;
    border-bottom: 0;
    height: auto;
    min-height: 3.5rem;
}

@media (max-width: 767.98px) {
    .inner-sidebar {
        left: -235px;
    }

    .inner-main {
        left: 0;
    }

    .inner-expand .main-body {
        overflow: hidden;
    }

    .inner-expand .inner-wrapper {
        transform: translate3d(235px, 0, 0);
    }
}

.nav .show>.nav-link.nav-link-faded,
.nav-link.nav-link-faded.active,
.nav-link.nav-link-faded:active,
.nav-pills .nav-link.nav-link-faded.active,
.navbar-nav .show>.nav-link.nav-link-faded {
    color: #3367b5;
    background-color: #c9d8f0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #467bcb;
}

.nav-link.has-icon {
    display: flex;
    align-items: center;
}

.nav-link.active {
    color: #467bcb;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-link {
    color: #4a5568;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

/* user part of css */

.Userblue-header {
    height: 150px;
    /* Adjust the height as needed */
    background-image: linear-gradient(45deg, #ebf0f4, #03274a);
    /* This sets the background color to blue */
    width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    /* This makes sure the div covers the full width of the viewport */
}

.UserTable {
    width: 100%;
    border-collapse: collapse;
}


.UserTable th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

.UserTable th {
    background-color: #f4f4f4;
}

.Userseparator {
    height: 1.5px;
    /* 线的厚度 */
    background-color: #0505052b;
    /* 线的颜色 */
    margin: 20px 0;
    border-top: 1.5px dotted #392929;
    /* 在线上下添加一些空间 */
}


.profile-section {
    display: flex;
    align-items: center;
    /* 垂直居中 */
    background-color: #f4f4f4;
    /* 背景色 */
    padding: 10px;
    border-radius: 20px;
    height: 300px;
    /* 圆角 */
}

.profile-icon {
    width: 60px;
    /* 图标大小 */
    height: 60px;
    margin-right: 20px;
    /* 图标和文本之间的间隔 */
}

.profile-info {
    flex-grow: 1;
    /* 让文本区域填充多余的空间 */
}

.useredit-button {
    background-color: #ffffff;
    /*Button background color*/
    border: 2px solid #ccc;
    /* 边框 */
    border-radius: 20px;
    /* 圆角按钮 */
    padding: 10px;
    /* 按钮内边距 */
    cursor: pointer;
    /* 鼠标手势 */
    font-weight: bold;
    /* 字体加粗 */
}

.useredit-button:hover {
    background-color: #e6e6e6;
}

.userresources button {
    margin-bottom: 40px;
    /* 设置按钮之间的垂直间距 */
}

#logo_nav {
    height: 55px;
    width: 55px;
}
.after_login{
    color: #ff4500;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}
.after_login:hover{
    color: #cc3700;

}
.Big_t{
    color: #ff4500;
    font-weight: bold;
    text-align: center;
}

.Big_t:hover{
    color: lightyellow;
}

.middle table, th, td{
    border: none;/* 垂直居中 */
        }
.middle td{
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
}


.userpost1{
    background-color: rgb(240, 240, 240);
}

.userpost2{
    background-color: rgba(199, 255, 130, 0.3);}

.user_section1 img{
    padding: 100px;
    border: 1px solid #4CAF50;
    font-size: 40px;

}

.user_section1 h2{
    font-size: 40px;
    padding: 100px;
}

.user_change_profile{
    display: flex;
    align-items: center;
    /* 垂直居中 */
    background-color: #f4f4f4;
    /* 背景色 */
    padding: 10px;
    border-radius: 20px;



}