{% extends "base.html" %}

{% block content %}
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ csrf_token }}
        <p>
            <label for="password">New Password</label><br>
            <input type="password" id="password" name="password" size="32"><br>
            {% for error in errors.get('password', []) %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <label for="password2">Repeat New Password</label><br>
            <input type="password" id="password2" name="password2" size="32"><br>
            {% for error in errors.get('password2', []) %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><input type="submit" value="Reset Password"></p>
    </form>
{% endblock %}

