<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Navbar Example</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/f48b9c11bb.js"></script>
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <img src="#" alt="our Logo">
            </div>
            <div class="search-container" id="search-icon">
                <label>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search" class="Search-input">
                </label>
            </div>
            <div class="button-container">
                <button>Get account</button>
                <button>Log In</button>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>
