<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Document</title>
</head>

<body>
    <nav>

    </nav>
    <section class="post">
        <div class="user-info">
            <img src="" alt="" class="user-avatar"> <span class="user-name">Jake</span> <span class="post-date">Post
                Date</span>
        </div>
        <div class="post-content">
            <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod aliquid asperiores
                modi sequi minus nostrum porro sint! Quasi molestiae necessitatibus accusamus nisi libero repudiandae,
                eum pariatur unde eveniet culpa.</p>
        </div>
        <button class="toggle-reply">Reply</button>
        <div class="replies">
            <div class="single-reply">
                <div class="user-info">
                    <img src="" alt="" class="user-avatar"> <span class="user-name">Jace</span> <span
                        class="post-date">Post
                        Date 1</span>
                </div>
                <div class="post-content">
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod aliquid
                        asperiores
                        modi sequi minus nostrum porro sint! Quasi molestiae necessitatibus accusamus nisi libero
                        repudiandae,
                        eum pariatur unde eveniet culpa.</p>
                </div>
            </div>
            <div class="single-reply">
                <div class="user-info">
                    <img src="" alt="" class="user-avatar"> <span class="user-name">Jonathon</span> <span
                        class="post-date">Post
                        Date 2</span>
                </div>
                <div class="post-content">
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod aliquid
                        asperiores
                        modi sequi minus nostrum porro sint! Quasi molestiae necessitatibus accusamus nisi libero
                        repudiandae,
                        eum pariatur unde eveniet culpa.</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>