<div class="post-single-reply">
    <div class="post-user-info">
       <a href="{{ url_for('main.user', username=comment.commentor.username) }}">
                <img src="{{ comment.commentor.avatar(36) }}" alt="" class="post-user-avatar">
            </a>
        <span class="post-user-name">{{ comment.commentor.username }}</span>
        <span class="post-date">{{ moment(comment.timestamp).fromNow() }}</span>
    </div>
    <div class="post-content">
        <p class="post-text">{{ comment.comment }}</p>
    </div>
</div>