<!-- _post.html -->
<section class="container-md mt-2 post">
    <div class="single-post">
        <!-- Post content -->
        <div class="post-user-info">
            <img src="/static/avatar/Screenshot 2024-03-22 at 5.56.01 pm.jpeg" alt="" class="post-user-avatar">
            <span class="post-user-name">{{ post.author.username }}</span>
            <span class="post-date">{{ post.time_stamp }}</span>
        </div>
        <div class="post-topic">
            <h1>{{ post.topic }}</h1>
        </div>
        <div class="post-content">
            <p class="post-text">{{ post.body }}</p>
        </div>
        <button type="button" class="btn btn-secondary post-toggle-reply">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square"
                viewBox="0 0 16 16">
                <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
            </svg>
        </button>
        <div class="post-replies">
            <!-- Comment Form -->
            {% include "_commentInput.html" %}

            <!-- List of comments -->
            <div class="post-replies">
                {% for comment in post.comments %}
                {% include "_comment.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>