<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/f48b9c11bb.js"></script>
    {% endblock %}
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='image/logo.gif') }}" alt="our Logo" id="logo_nav">
                &nbsp; &nbsp;&nbsp;
                 {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.community') }}" class="after_login">Community</a>
                &nbsp; &nbsp;
                <a href="{{ url_for('main.test') }}" class="after_login">Explore</a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('main.create') }}" class="after_login">Create</a>
                     &nbsp;&nbsp;
                     <a href="{{ url_for('main.user', username = current_user.username) }}" class="after_login">Profile</a>
                {% endif %}
            </div>

            <div class="search-container" id="search-icon">
                {% if current_user.is_authenticated and g.search_form %}
                <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% else %}
{#                    The website title #}
                <h2 class="Big_t">University Community</h2>
                {% endif %}
            </div>
            <div class="button-container">
                {% if current_user.is_authenticated %}
                <button onclick="window.location.href = '/logout'">Logout</button>
                {% else %}
                <button onclick="loadlogin()">Log In</button>
                <button onclick="window.location.href = '/register'">Get account</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="content">
        {% block content %}
        {# The child template will display at this part#}
        {% endblock %}
    </div>

    {{ moment.include_moment() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='comment.js') }}"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>

</body>
<script>
    function loadlogin() {
        window.location.href = '/login';
    }
</script>

</html>
