{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="main-body p-0">
        <div class="inner-wrapper">
            <div class="inner-sidebar">
                <div class="inner-sidebar-header justify-content-center">
                    <button class="btn btn-primary has-icon btn-block" type="button" data-bs-toggle="modal" data-bs-target="#forumModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        NEW FORUM
                    </button>
                </div>
                <div class="inner-sidebar-body p-0">
                    <div class="p-3 h-100" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer">
                                </div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;">
                                            <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                <a href="{{ url_for('main.community')}}" class="nav-link">All Forums</a>
                                                <a href="{{ url_for('main.community', category='1') }}" class="nav-link">IT Forums</a>
                                                <a href="{{ url_for('main.community', category='6') }}" class="nav-link">Mathmatic Forums</a>
                                                <a href="{{ url_for('main.community', category='3') }}" class="nav-link">Physics Forums</a>
                                                <a href="{{ url_for('main.community', category='4') }}" class="nav-link">Engineering Forums</a>
                                                <a href="{{ url_for('main.community', category='5') }}" class="nav-link">Sport Forums</a>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                    </div>
                </div>
            </div>

            <div class="inner-main"> 
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <div class="card mb-2">
                        <div class="card-body p-2 p-sm-3">
                            <div class="media forum-item">
                                <div class="media-body">
                                {% for f in forums %}
                                <a href="{{ url_for('main.forum', category=f.category, id=f.id) }}" class="text-body">{{ f.communityName }}</a>
                                <p class="text-secondary">
                                {{f.description}}
                                </p>
                                <p class="text-muted"><span class="text-secondary font-weight-bold">Established {{ moment(f.timestamp).fromNow() }}</span></p>
                                {% endfor %}                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- <a href="#" class="btn btn-light btn-sm mb-3 has-icon" data-bs-toggle="collapse" data-bs-target=".forum-content"><i class="fa fa-arrow-left mr-2"></i>Back</a> -->
                    <!-- <div class="card mb-2">
                        <div class="card-body">                   
                            <div class="media forum-item">                   
                                <a href="javascript:void(0)" class="card-link">                  
                                    <img src="" class="rounded-circle" width="50" alt="User" />                 
                                    <small class="d-block text-center text-muted">Newbie</small>                 
                                </a>
                                {% for post in posts %}
                                <div class="media-body ml-3">
                                    <a href="javascript:void(0)" class="text-secondary">{{post.author}}</a>
                                    <small class="text-muted ml-2">{{post.timestamp}}</small>
                                    <h5 class="mt-1">{{post.topic}}</h5>
                                    <div class="mt-3 font-size-sm">
                                       {{post.body}}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="card mb-2">
                        <div class="card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                <img src="" class="rounded-circle" width="50" alt="User" />
                                <small class="d-block text-center text-muted">Pro</small>
                            </a>
                            <div class="media-body ml-3">
                                <a href="javascript:void(0)" class="text-secondary">drew</a>
                                <small class="text-muted ml-2">1 hour ago</small>
                                <div class="mt-3 font-size-sm">
                                    <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                    <p> lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                </div>
                                <button class="btn btn-xs text-muted has-icon"><i class="fa fa-heart" aria-hidden="true"></i>1</button>
                                <a href="javascript:void(0)" class="text-muted small">Reply</a>
                            </div>
                        </div>
                    </div>
                </div> -->
             </div> 
            </div>
        </div>
        <div class="modal fade" id="forumModal" tabindex="-1" role="dialog" aria-labelledby="forumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form action="" method="post" novalidate>
                        {{ community_form.hidden_tag() }}
                        <div class="modal-header d-flex align-items-center bg-primary text-white">
                            <h6 class="modal-title mb-0" id="forumModalLabel">New Forum</h6>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                {{ community_form.communityName(class="create-text", placeholder="Your community Name")}}
                                <div id="topic-count"></div>
                                {% for error in community_form.communityName.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="mt-4">
                                {{ community_form.category }}<br>
                                <div id="topic-count"></div>
                                {% for error in community_form.category.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="mt-6">
                                {{ community_form.description(class="create-text", placeholder="What is this community all about") }}
                                <br>
                                <br>
                                {% for error in community_form.description.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <!--
                            <textarea class="form-control summernote" style="display: none;"></textarea>
                            <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                <input type="file" class="custom-file-input" id="customFile" multiple />
                                <label class="custom-file-label" for="customFile">Attachment</label>
                            </div>
                        </div>
                            -->
                            <div class="modal-footer">
                                {{ community_form.submit() }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
<!-- <script>
    document.getElementById('communityLink-{{ f.id }}').addEventListener('click', function(event) {
        event.preventDefault();  // Prevents the default navigation
        // Add your collapse logic here
        // Example:
        document.querySelector('.forum-content').classList.toggle('show');
        // Uncomment the following line to actually navigate after the collapse (if needed)
        // window.location.href = this.href;
    });
</script> -->
<!-- <h6><a href="{{ url_for('community', category=f.category, name=f.communityName) }}" data-bs-toggle="collapse" data-bs-target=".forum-content" class="text-body">{{f.communityName}}</a></h6> -->