<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/f48b9c11bb.js"></script>
    <title>Sign in</title>
</head>
<body>
<div class="container">
    <div class="con_forms">
        <div class="login_register">
            <div class="bg-text">
            <form action="" class="sign_in">
                <h2 class="title">SIGN IN</h2>
                <div class="input_box">
                    <label for="name"> <i class="fa-solid fa-user"></i></label>
                    <input id="name" placeholder="Enter You User Name" required type="text">
                </div>
                <div class="input_box">
                    <i class="fa-solid fa-user"></i>
                   <select id="Acctype">
                       <option>User</option>
                       <option>Admin</option>
                   </select>
                </div>
                <div class="input_box">
                    <label for="PIN"> <i class="fa-solid fa-lock"></i></label>
                    <input class="PIN0" id="PIN" placeholder="Enter You password" required type="password">
                    <i class="fa-solid fa-eye" onclick="Hid('PIN0')"></i>
                </div>
                <div class="button">
                    <input class="btn" onclick="login()" type="button" value="Login">
                        <input class="btn" onclick="location.href=('register.html')" type="button" value="Register">
                </div>
                <br>
                <a href="#">
                    <p class="forget">Can't remember your password?</p>
                </a>
            </form>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    //login function
    function login(){
        console.log("test test")
    }
</script>
</html>
