{% extends "base.html" %}
{% block content %}
<section class="container-md mt-2 post">
    <div class="single-post">
        <div class="post-user-info">
            <img src="/static/avatar/Screenshot 2024-03-22 at 5.56.01 pm.jpeg" alt="" class="post-user-avatar">
            <span class="post-user-name">Jake</span> <span class="post-date">DD-MM-YYYY</span>
        </div>
        <div class="post-content">
            <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod aliquid
                asperiores
                modi sequi minus nostrum porro sint! Quasi molestiae necessitatibus accusamus nisi libero
                repudiandae,
                eum pariatur unde eveniet culpa.</p>
        </div>
        <button type="button" class="btn btn-secondary post-toggle-reply">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square"
                viewBox="0 0 16 16">
                <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
            </svg>
        </button>
        <div class="post-replies">
            <div class="custom-textarea">
                <textarea class="auto-expand" maxlength="300" placeholder=" Place a comment"></textarea>
                <div class="charCount"></div>
                <div class="buttons">
                    <button type="button"
                        class="btn btn-sm btns btn-outline-primary comment post-comment">Comment</button>
                    <button type="button"
                        class="btn btn-sm btn-outline-secondary btns cancel post-cancel">Cancel</button>
                </div>
            </div>
            <div class="post-single-reply">
                <div class="post-user-info">
                    <img src="/static/avatar/Screenshot 2024-03-22 at 5.56.01 pm.jpeg" alt="" class="post-user-avatar">
                    <span class="post-user-name">Jace</span> <span class="post-date">DD-MM-YYYY</span>
                </div>
                <div class="post-content">
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod
                        aliquid
                        asperiores
                        modi sequi minus nostrum porro sint! Quasi molestiae necessitatibus accusamus nisi libero
                        repudiandae,
                        eum pariatur unde eveniet culpa.</p>
                </div>
            </div>
            <div class="post-single-reply">
                <div class="post-user-info">
                    <img src="/static/avatar/Screenshot 2024-03-22 at 5.56.01 pm.jpeg" alt="" class="post-user-avatar">
                    <span class="post-user-name">Jonathon</span> <span class="post-date">DD-MM-YYYY</span>
                </div>
                <div class="post-content">
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod
                        aliquid
                        asperiores
                        modi sequi minus nostrum porro sint! Quasi molestiae necessitatibus accusamus nisi libero
                        repudiandae,
                        eum pariatur unde eveniet culpa.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}